body{
    margin: 0;
    background-color: #232323;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

.button{
    width: 20%;
    background-color: purple;
    padding-bottom: 20%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    text-align: center;
    color: white;
    font-size: 200%;
}

#numDisplay{
    display:block;
    height: 100px;
    text-align: right;
    color: white;
    font-size: 600%;
}
#ansDisplay{
    display:block;
    height: 100px;
    text-align: right;
    color: white;
    font-size: 400%;
}